*{
  margin: 0;
  padding: 0;
}

body{
  width: 100%;
  height: 100%;
  background-color: rgb(188,37,38);
}

.head{
  width: 100%;
  height: auto;
  background-color: rgb(188,37,38);
  text-align: center;

}
.head img {
  width:100%;
  height: auto;
}

.body{
  width: 100%;
  height: auto;
  background-color: rgb(188,37,38);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top:100px;
  margin-bottom: 100px;
}

.body a{
  width: 150px;
  height: 50px;
  margin: 15px;
  border-radius: 30px;
  background: rgb(233, 105, 105);
  border: none;
  color: #fff;
  font-size: 15px;
  font-family: "微软雅黑";
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.ruanjian{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.ruanjian img{
  width:100px;
}

/* .foot{
  width: 100%;
  height: 50px;
  background-color: rgb(188,37,38);
  text-align: center;
} 

.foot img{
  width: 100%;

} */