ul li {
  list-style: none;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
}

ul {
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

#list {
  margin: 0 auto;
}

div {
  width: 380px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

#list-input {
  width: 300px;
  height: 60px;
  font-size: 20px;
  display: block;
  margin: 0 auto;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
}

li input {
  width: 20px;
  height: 20px;
}

li span {
  font-size: 25px;
}